@media only screen and (max-width: 600px) {
    .chartDiv{
      padding: 5px;
      max-width: 250px;
      margin: 0 auto;
    }
    .chartDiv2{
      padding: 5px;
      max-width: 280px;
      margin: 0 auto;
    }
.charts {
    width: 230px;
    height: 190px;
    border: 2px solid black;
    border-right: none;
    border-top: none;
    /* border-radius: 20px; */
}
.charts2 {
    width: 260px;
    height: 250px;
    border: 2px solid black;
    /* border-radius: 20px; */
    border-left: none;
    border-bottom: none;
}
}
@media only screen and (min-width: 600px)
{
    .chartDiv{
      padding: 5px;
      max-width: 320px;
      margin: 0 auto;
    }
    .chartDiv2{
      padding: 5px;
      max-width: 520px;
      margin: 0 auto;
    }
.charts {
    width: 300px;
    height: 250px;
    border: 2px solid black;
    border-right: none;
    border-top: none;
    /* border-radius: 20px; */
}
.charts2 {
    width: 500px;
    height: 250px;
    border: 2px solid black;
    /* border-radius: 20px; */
    border-left: none;
    border-bottom: none;
}
}
@media only screen and (min-width: 768px)
{
    .chartDiv{
      padding: 5px;
      max-width: 420px;
      margin: 0 auto;
    }
    .chartDiv2{
      padding: 5px;
      max-width: 670px;
      margin: 0 auto;
    }
.charts {
    width: 400px;
    height: 350px;
    border: 2px solid black;
    border-right: none;
    border-top: none;
    /* border-radius: 20px; */
}
.charts2 {
    width: 650px;
    height: 250px;
    border: 2px solid black;
    /* border-radius: 20px; */
    border-left: none;
    border-bottom: none;
}
}
