/* =============================================
			Login Page
============================================= */
.at-loginarea {
    width: 100%;
    float: left;
    height: 100%;
    position: relative;
}
.at-loginimageholder {
    margin: 0;
    width: 850px;
    float: right;
    height: 100vh;
    min-height: 768px;
    background: url("../images/login-img.png");
    background-size: cover;
    background-position: top right;
}
.at-liginmanimage {
    margin: 0;
    width: 100%;
    float: left;
    height: 100%;
    padding: 150px 0 0;
    text-align: center;
}
.at-liginmanimage img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    vertical-align: bottom;
}
.at-logincontentholder {
    float: left;
    height: 100vh;
    background: #fff;
    min-height: 768px;
    padding: 50px 100px;
    width: calc(100% - 850px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: flex-end;
    -ms-flex-align: center;
    align-items: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.at-logincontent {
    width: 100%;
    float: right;
    max-width: 520px;
    text-align: center;
}
.at-logo {
    width: 170px;
    display: block;
    margin: 0 auto 30px;
}
.at-logo img {
    width: 100%;
    height: auto;
    display: block;
}
.at-description {
    width: 100%;
    float: left;
}
.at-logincontent .at-description {
    margin: 0 0 85px;
}
.at-logincontent .at-description p {
    color: #888;
    font-size: 20px;
    line-height: 26px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.at-logincontent .at-description p span {
    display: block;
}
.at-btngooglelogin {
    color: #fff;
    clear: both;
    width: 300px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    text-align: left;
    line-height: 60px;
    position: relative;
    background: #4783ff;
    border-radius: 30px;
    text-decoration: none;
    padding: 0 2px 0 90px;
    text-transform: uppercase;
}
.at-btngooglelogin:hover,
.at-btngooglelogin:focus {
    color: #fff;
}
.at-btngoogleicon,
.at-btngooglelogin em {
    float: left;
}
.at-btngooglelogin em {
    font-style: normal;
}
.at-btngoogleicon {
    top: 50%;
    left: 2px;
    width: 70px;
    height: 56px;
    padding: 8px 0;
    background: #fff;
    line-height: 56px;
    position: absolute;
    text-align: center;
    border-radius: 30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.at-createaccount {
    width: 100%;
    float: left;
    margin: 95px 0 0;
    padding: 40px 0 0;
    text-align: center;
    position: relative;
}
.at-createaccount:before {
    top: 0;
    left: 50%;
    width: 40px;
    content: "";
    height: 2px;
    position: absolute;
    background: #173f6c;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.at-createaccount span {
    width: 100%;
    float: left;
    color: #173f6c;
    font-size: 18px;
    margin: 0 0 25px;
    line-height: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.at-createaccount a {
    color: #4783ff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    text-transform: uppercase;
}
.box {
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin: 10px 0px;
    padding-top: 15px;
    /* height: 552px; */
    padding-bottom: 30px;
}
.box2 {
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin: 10px 0px;
    padding-top: 15px;
    /* height: 552px; */
    padding-bottom: 30px;
}
.textalign {
    text-align: center;
}
.dummyImage {
    max-width: -webkit-fill-available;
    height: 100px;
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.headText {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.daysText {
    font-size: 20px;
}
.dynamicStats {
    font-size: 46px;
    font-weight: bold;
}
.dynamicStatsthird {
    font-size: 26px;
    font-weight: bold;
}
.dynamicStatssecond {
    font-size: 46px;
    font-weight: bold;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 8px;
    z-index: 9;
}
.dropImage {
    width: 25px;
    height: 40px;
}
.GreenUpImage {
    width: 20px;
    height: 18px;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .GreenUpImage{
        width: 25px;
        height: 28px;
    }
} */
.percentcss {
    color: #2ecc71;
    margin-left: 05px;
    margin-right: 05px;
    font-size: 22px;
    font-style: normal !important;
}
.percentcssfourth {
    color: #e74c3c;
    margin-left: 05px;
    margin-right: 05px;
    font-size: 22px;
    font-style: normal !important;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .percentcss{
        color: #2ECC71;
        font-size: 34px;
    }
    .percentcssfourth{
        color: #E74C3C;
        font-size: 34px;
    }
} */
.textLight {
    color: gray;
    font-size: 22px;
}
.textLightthird {
    color: #2ecc71;
    font-size: 18px;
    opacity: 0.5;
    font-style: normal !important;
}
.textLightfourth {
    color: #e74c3c;
    font-size: 18px;
    opacity: 0.5;
    font-style: normal !important;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .textLightthird{
        font-size: 34px;
    }
    .textLightfourth{
        font-size: 34px;
    }
} */
.customchart {
    height: 70px !important;
}
.customchartthird {
    height: 250px !important;
}
.table-customchartthird {
    height: 90px !important;
    width: max-content !important;
}
.row select {
    /* border-style: none; */
    /* border: 0; */
    outline: 0;
    margin-top: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px !important;
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.08);
    font-weight: 600;
    color: #1b1b1b;
    /* font-size: 20px; */
    /* font-weight: bold; */
}
.row option {
    font-size: 20px;
}
.row option {
    font-size: 20px;
}
.toolimg {
    height: 30px;
    margin-left: 09px;
    margin-top: 20px;
}
.tabletoolimg {
    height: 50px;
}
.msgimg {
    height: 28px;
    margin-right: 10px;
    margin-left: -22px;
    margin-top: 20px;
}
.dimension {
    font-size: 14px;
    color: #5f6962;
    line-height: 0;
    font-weight: normal;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .dimension {
        font-size: 24px;
        color: #5f6962;
        line-height: 1;
        
    }
} */
.table-dimension {
    font-size: 14px;
    font-weight: normal;
}
.bottomText {
    font-size: 12px;
    color: #5f6962;
    margin-top: 8px;
    margin-left: 05px;
}
.qpc {
    margin-left: 12px;
}
@media (min-width: 768px) and (max-width: 992px) {
}
.infoimg {
    height: 28px;
    float: right;
    margin-right: 25px;
}
.border {
    border-radius: 25px;
}
.table-dropImage {
    width: 15px;
    height: 28px;
}
.table-percentcss {
    color: #2ecc71;
    margin-left: 05px;
    margin-right: 05px;
    font-size: 16px;
    font-style: normal !important;
}
.table-percentcssfourth {
    color: #e74c3c;
    margin-left: 05px;
    margin-right: 05px;
    font-size: 16px;
    font-style: normal !important;
}
.table-textLight {
    color: gray;
    font-size: 16px;
}
.table th,
.table td {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
}
/* =============================================
			Header Page
============================================= */
.at-header {
}
.at-headercontent {
    width: 100%;
    margin: 0 auto;
    max-width: 1640px;
}
.at-headercontent:after {
    clear: both;
    content: "";
    display: block;
}
.at-header .navbar-brand {
    width: 160px;
}
/* =============================================
			Dashboard Page
============================================= */
.at-contentholder {
    width: 100%;
    margin: 0 auto;
    max-width: max-content;
}
.at-contentholder:after {
    clear: both;
    content: "";
    display: block;
}
.at-dashboard {
    width: 100%;
    float: left;
    padding: 20px 0 50px;
}
.at-pagehead {
    width: 100%;
    float: left;
    margin: 0 0 75px;
}
.at-pagetitle {
    float: left;
}
.at-pagetitle h2 {
    margin: 0;
    color: #1e266d;
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
}
.at-pagetitle span {
    float: left;
    color: #999;
    font-size: 18px;
    line-height: 20px;
}
.at-listgridholder {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}
.at-listgridholder li {
    float: left;
    padding: 0 15px;
    list-style-type: none;
}
.at-listgridholder li:first-child {
    padding-left: 0;
}
.at-listgridholder li:last-child {
    padding-right: 0;
}
.at-inputicon {
    width: 100%;
    float: left;
    position: relative;
}
.at-inputicon input {
    border: 0;
    height: 40px;
    width: 260px;
    color: #1b1b1b;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    background: #fefefe;
    padding: 10px 30px 10px 20px;
    background: rgba(27, 27, 27, 0.08);
}
.at-inputicon i {
    top: 50%;
    z-index: 3;
    right: 15px;
    color: #1b1b1b;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.at-btnlistgrid {
    width: 55px;
    /* color: #fff; */
    height: 40px;
    display: block;
    font-size: 22px;
    line-height: 47px;
    text-align: center;
    border-radius: 20px;
}

.g-color {
    color: #fff;
    background: #4783ff;
}
.t-color {
    color: #4783ff;
    background: #fff;
}
.at-btnlistgrid:hover,
.at-btnlistgrid:focus {
    color: #4783ff;
}
.at-chartgridview {
    width: 100%;
    float: left;
}
.at-charthead {
    width: 100%;
    float: left;
    padding: 15px;
    position: relative;
}
.at-charthead i {
    top: 22px;
    right: 15px;
    color: #b5b5b5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .at-charthead i{
        font-size: 32px;
    }
} */
.at-charthead h5 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    padding: 0 0 0 45px;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .at-charthead h5{
        font-size: 35px;
        margin-bottom: 10px;
        
    }
} */
.at-charthead h5:after {
    top: 0;
    left: 0;
    content: "";
    width: 50px;
    height: 36px;
    position: absolute;
    /* background: url(images/search.png) no-repeat; */
    background-size: 100%;
}

/* New */
.at-chartheadga h5:after {
    top: 0;
    left: 0;
    content: "";
    width: 50px;
    height: 36px;
    position: absolute;
    background: url(images/ga.png) no-repeat;
    background-size: 100%;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .at-charthead h5{
        font-size: 35px;
        margin-bottom: 10px;
        
    }
} */
.at-charthead h4:after {
    top: 0;
    left: 0;
    content: "";
    width: 32px;
    height: 36px;
    position: absolute;
    background: url(images/ga.png) no-repeat;
    background-size: 100%;
}
/* end */
.at-charthead-anomaly h5:after {
    /* background: url(images/search.png) no-repeat; */
    background-size: 100%;
    width: 55px;
    margin-left: -10px;
    margin-top: -8px;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .at-charthead h5:after{
        width: 35px;
        height: 40px;
    }
} */
.at-chartinfor {
    margin: 0;
    width: 100%;
    float: left;
    padding: 0 0 0 45px;
}
.at-chartinfor span + span {
    margin: 5px 0 0;
}
.at-chartinfor .page,
.at-chartinfor .tooltip22 {
    /* color: #999; */
    display: inline-block;
    vertical-align: middle;
    color: #5f6962;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .at-chartinfor .page,
    .at-chartinfor .tooltip22{
        font-size: 24px;
        vertical-align: inherit;
        
    }
} */
.at-chartvalue {
    width: 100%;
    /* float: left; */
    padding: 0 15px;
    text-align: center;
}
.at-chartvalue h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
}
.at-chartvalue h5 i {
    display: inline-block;
    vertical-align: middle;
}
.at-chartbottom {
    width: 100%;
    float: left;
    padding: 0 15px 10px;
}
.at-chartbottom h5 {
    margin: 0;
    color: #888;
    float: left;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
}
.at-chartbottom i {
    float: right;
    color: #b8b8b8;
    font-size: 17px;
    line-height: 20px;
}
/* @media screen and (min-width:1500px) and (max-width:2000px)
{
    .at-chartbottom i{
        font-size: 32px;
       
    }
} */
.table-toolimg {
    width: inherit;
    height: 35px;
    margin-left: 25px;
}
.table-headText {
    font-size: 16px;
    font-weight: normal;
}

.custom-row {
    margin-left: -46px !important;
    margin-right: 0px !important;
}
.daterangecss {
    border: 1px solid #cccccc;
    width: 225px;
    border-radius: 25px;
    background-color: #cccccc;
    padding: 7px 10px;
    outline: none;
    text-align: center;
    font-weight: bold;
}
@media (min-width: 767px) and (max-width: 992px) {
    .daterangecss {
        border: 1px solid #cccccc;
        width: 180px;
        border-radius: 25px;
        background-color: #cccccc;
        padding: 6px;
        outline: none;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
    }
}
.loginbutton-inside {
    font-size: 3em;
    font-family: "Comic Sans MS";
    vertical-align: middle;
}
.loginbutton {
    background-color: #037ffc;
    display: inline-block;
    padding: 0px 15px;
    margin: auto;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
        inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
        inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    padding-right: 35px;
}
.google-img {
    border-radius: 50px;
    height: 40px;
}
.grid-img {
    height: 40px;
    /* margin-right: 40px;
    margin-left: 30px; */
    /* margin-right: 10px;
    margin-left: -15px;
    margin-top: 10px;
} */
}
@media (min-width: 767px) and (max-width: 992px) {
    .grid-img {
        height: 33px;
    }
}
.hc {
    font-size: 30px;
    margin-bottom: 40px;
    color: #031a61;
    font-weight: 600;
}
.lhc {
    font-size: 34px;
    color: #031a61 !important;
}
.slhc {
    font-size: 18px;
    color: #9ca4ab;
}
.loader {
    color: darkgrey;
    font-size: 12px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
            0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
            0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
            -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
            0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
            0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
            0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
            -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
            0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
.tooltip22 {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #5f6962;
    font-weight: normal;
}
.tooltip22 .tooltiptext22 {
    overflow-wrap: break-word !important;
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}
.tooltip22 .tooltiptext22::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip22:hover .tooltiptext22 {
    visibility: visible;
    opacity: 1;
}
.showUrl {
    display: none;
}
.hoverUrl:hover .showUrl,
.hoverUrl:hover ~ .showUrl,
.hoverUrl:hover + .showUrl {
    display: flex;
}
.table th,
.table td {
    padding: 8px 10px !important;
    font-weight: normal !important;
    font-size: 16px;
    font-weight: normal;
}
.ui-datepicker-calendar tr:hover {
    background-color: #64aced !important;
}
.ui-datepicker .ui-datepicker-calendar th {
    background-color: white;
}
.ui-datepicker-prev span {
    background-image: url("images/right-arrow.png") !important;
    background-position: 0px 0px !important;
}
.ui-datepicker-next span {
    background-image: url("images/left-arrow.png") !important;
    background-position: 0px 0px !important;
}
.daterangepicker tr:hover {
    background-color: skyblue !important;
}
.at-tablechartview {
    border: 0 !important;
}
.at-tablechartview thead tr th {
    border: 0;
    background: #f2f6ff;
    vertical-align: middle;
    padding: 0 20px !important;
}
.at-tablechartview thead tr th:first-child {
    border-radius: 10px 0 0 10px;
}
.at-tablechartview thead tr th:last-child {
    border-radius: 0 10px 10px 0;
}
.at-tablechartview thead tr th span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
}
.at-tablechartview tbody tr td {
    vertical-align: middle;
    padding: 0 20px !important;
}
.at-tablechartview tbody tr td h5 {
    margin: 0;
}
.custom-head {
    margin-bottom: 20px;
}
.js-btn {
    border: none;
    background-color: white;
}
.js-btn:focus {
    outline: none;
}
