.box-width {
    /* padding-left: 60px;
    padding-right: 60px; */
}
.right-head {
    text-align: center;
}
.head-number {
    margin-bottom: -10px;
    font-size: 40px;
    color: green;
}
.head-text {
    font-size: 09px;
    margin-bottom: 04px;
}
.head-date {
    color: #0168fa;
}
.cu-bd-5 {
    border-radius: 5px;
}
.cu-bd-15 {
    border-radius: 15px;
}
.at-chartheads {
    width: 100%;
    float: left;
    padding: 15px;
    position: relative;
    margin-bottom: 120px;
}
/* .at-charthead i{
    top: 22px;
    right: 15px;
    color: #b5b5b5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
} */
.at-chartheads h5 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    padding: 0 0 0 45px;
}
.at-chartheads h5:after {
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 36px;
    position: absolute;
    background: url(images/au.png) no-repeat;
    background-size: 100%;
}

/* 2nd */
.at-chartheadss {
    width: 100%;
    float: left;
    padding: 15px;
    position: relative;
}
/* .at-charthead i{
    top: 22px;
    right: 15px;
    color: #b5b5b5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
} */
.at-chartheadss h5 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    padding: 0 0 0 45px;
}
.at-chartheadss h5:after {
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 36px;
    position: absolute;
    /* background: url(images/au.png) no-repeat; */
    background-size: 100%;
}
.pie-text {
    font-size: 12px;
    text-align: center;
}
.action-line {
    width: 100%;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    font-size: 20px;
    line-height: 0.1em;
    margin: 30px 0 35px;
}

.action-line span {
    background: #fff;
    padding-right: 10px;
}
.an-text {
    font-size: 16px;
}
.cu-btn {
    width: -webkit-fill-available;
    margin-right: 10px;
    margin-left: 10px;
}
.cu-btn-icon {
    margin-top: 4px;
    float: left;
    top: 0;
    bottom: 0;
}
.cu-btn-text {
    text-align: center;
    font-size: 16px;
}
.btn-skype {
    color: #fff;
    background-color: #2a92f3;
    border-color: #2a92f3;
}
.btn-stack {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}
.btn-sp {
    margin-top: 40px;
}
.btn-send {
    width: 160px;
    margin-top: 15px;
    float: right;
}
.vr-l {
    border-right: 1px solid rgba(72, 94, 144, 0.16);
}
.urlhover22 {
    position: relative;
    display: inline-block;
    font-weight: 500 !important;
    line-height: 1.25;
    color: #001737;
    font-weight: normal;
}
.urlhover22 .urlhovertext22 {
    overflow-wrap: break-word !important;
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}
.urlhover22 .urlhovertext22::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.urlhover22:hover .urlhovertext22 {
    visibility: visible;
    opacity: 1;
}
/* if anomalies down trending */
.at-chartheadsAnom {
    width: 100%;
    float: left;
    padding: 15px;
    position: relative;
    margin-bottom: 120px;
}
/* .at-charthead i{
    top: 22px;
    right: 15px;
    color: #b5b5b5;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
} */
.at-chartheadsAnom h5 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    padding: 0 0 0 45px;
}
.at-chartheadsAnom h5:after {
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 36px;
    position: absolute;
    background: url(images/ad.png) no-repeat;
    background-size: 100%;
}
/* .modal-title:before{
    content: "";
    display: block;
    background: url(images/globe.png) no-repeat;
    width: 32px;
    height: 32px;
    display: table-cell;
    /* vertical-align: middle; 
    vertical-align: middle;
    float: left;
} */
.custom-modal-title {
    font-size: 14px;
    line-height: normal;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.custom-modal-header {
    background-color: lightgray;
}

.halfWidth {
    width: 100%;
}
.input-wrapper {
    margin-right: 100px;
}
.input-form-link {
    float: left;
    width: 100%;
    -ms-box-sizing: border-box; /* ie8 */
    -khtml-box-sizing: border-box; /* konqueror */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    box-sizing: border-box; /* css3 rec */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* display: inline-block; */
    /* width: 200px;
    height: 40px; */
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 9px 12px;
    color: #333333;
    /* vertical-align: middle; */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin: 0;
    line-height: 1.42857143;
}
.input-form-link-url {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.button-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    display: inline-block;
    padding: 9px 15px;
    background-color: grey;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.link-opt {
    font-size: 14px;
    margin-top: 10px;
}
.link-opt-link {
    font-size: 16px;
    margin-top: 10px;
}
.link-opt-2 {
    font-size: 14px;
}
.cus-arr {
    margin-top: 5px;
}
.second-button-link {
    font-size: 13px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    display: inline-block;
    padding: 9px 15px;
    background-color: #0153c7;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.custom-modal-bottom {
    font-size: 15px;
    line-height: normal;
}
.custom-modal-bottom-image {
    height: 22px;
}
.foot-row {
    margin-top: 10px;
}
.avatar-image {
    /* vertical-align: middle; */
    width: 34px;
    height: 34px;
    /* border-radius: 50%; */
    margin-top: 8px;
}
.foot-row-2 {
    margin-top: 10px;
    border-top: 1px solid rgba(72, 94, 144, 0.16);
}
.custom-modal-bottom-2 {
    margin-top: 10px;
    font-size: 12px;
    line-height: normal;
}
.custom-modal-bottom-image-2 {
    margin-top: 10px;
    height: 22px;
}

/* //Slider */
/* //slider end */
.above-img {
    margin-top: -25px;
    height: 48px;
    /* width: 48px; */
    /* position: absolute; */
    /* right: 0; */
    /* left: 0; */
    /* right: 0; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    top: 0;
    border: 2px solid white;
    border-radius: 12px;
}
.aligning-center {
    text-align: center;
}
.btn-custom-blue {
    background-color: #e4e9f0;
    color: #0168fa;
    border-radius: 20px;
}
.custom-favicon-list {
    height: 20px;
    margin-right: 5px;
}
.slider-custom-arrow {
    background-color: lightgray;
    color: black;
}
.link-opt-copy {
    background: none;
    border: none;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}
.link-opt-copy:focus {
    outline: none;
}
.c-link:focus {
    outline: none;
}

.custom-text-area {
    margin-top: 10px;
    width: auto;
    border-radius: 10px;
}
.scatter-id-div {
    background: none;
    border: none;
}
.scatter-id-div:focus {
    background: none;
    border: none;
    outline: none;
}
.external-link-css {
    height: 20px;
}
.btn1:hover {
    color: white !important;
}
.analyticsImage::after
{
     background: url(images/ga.png) no-repeat ;
     width: 38px !important;
     height: 38px !important;
}
.consoleImage::after
{
    background: url(images/search.png) no-repeat ;
    width: 50px !important;
    /* height: 36 ; */
}

.shopifyImage::after
{
    background: url(images/shp.png) no-repeat ;
    width: 38px !important;
     height: 38px !important;
}
