@media (max-width:1450px){
    .at-loginimageholder,
    .at-logincontentholder{width: 50%;}
    .at-logincontentholder{padding: 50px;}
    .at-liginmanimage{padding: 120px 0 0;}
}
@media (max-width:1280px){
    .at-liginmanimage{padding: 80px 30px 0;}
    .at-liginmanimage img{width: 100%;}
}
@media (max-width:1280px){
    .at-logincontent .at-description p {
        font-size: 14px;
        line-height: 20px;
    }
    .at-logincontent .at-description {margin: 0 0 30px;}
    .at-createaccount {
        margin: 30px 0 0;
        padding: 30px 0 0;
    }
}
@media (max-width: 768px) {
    .at-loginimageholder,
    .at-logincontentholder{width: 100%;}
    .at-logincontentholder {
        z-index: 2;
        height: 100%;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
    }
    .at-loginimageholder{
        top: 0;
        left: 0;
        min-height: auto;
        position: absolute;
    }
    .at-logincontent{max-width: none;}
}
@media (max-width: 640px) {
    .at-logincontentholder{
        padding: 15px;
        min-height: 360px;
    }
    .at-loginimageholder{display: none;}
    .at-logo {
        width: 80px;
        margin: 0 auto 15px;
    }
    .at-logincontent .at-description {margin: 0 0 15px;}
    .at-btngooglelogin {
        width: 200px;
        font-size: 12px;
        line-height: 40px;
        padding: 0 2px 0 60px;
    }
    .at-btngoogleicon {
        padding: 0;
        width: 45px;
        height: 36px;
        line-height: 56px;
    }
    .google-img {height: 24px;}
    .at-createaccount {
        margin: 15px 0 0;
        padding: 15px 0 0;
    }
    .at-createaccount span {
        font-size: 14px;
        margin: 0 0 10px;
        line-height: 14px;
    }
    .at-createaccount a {
        font-size: 12px;
        line-height: 12px;
    }
}
