
.shopifyLogo
{
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    width: 45px;
    height: 45px;
}
@media (min-width: 576px)
{
.custom-container {
    max-width: 540px;
}
}
@media (min-width: 768px)
{
.custom-container {
    max-width: 720px;
}
}
@media (min-width: 992px)
{
.custom-container {
    max-width: 960px;
}
}
@media (min-width: 1200px)
{
.custom-container {
    max-width: 1140px;
}
}


/* .custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */
